.about__title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.about__list {
  list-style: none;
}

.about__item {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @text;
}
