.catalog__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}

.catalog__list {
  list-style: none;
}

.catalog__card-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @title-catalog-card;
}

.catalog__card-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__button,
.catalog__button-more {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 109px;
  border: none;
}

.catalog__button {
  background: @primary;
  color: #ffffff;
}

.catalog__button-more {
  background: @background;
  color: @text;
}
