.example {
  background: @background-dark;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @text;
}

.example__numbers {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__numbers-about {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @text;
}

.example__subtitle {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
