.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.fieldset__wrapper {
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 15px 60px;
  }
}

.fieldset__wrapper-info {
  @media (min-width: @desktop-width) {
    padding: 15px 0;
  }
}

.fieldset__wrapper-contacts {
  @media (min-width: @desktop-width) {
    padding: 15px 0;
  }
}

.fieldset__wrapper-textarea {
  @media (min-width: @desktop-width) {
    padding: 15px 0;
  }
}

.fieldset__wrapper-other {
  @media (min-width: @desktop-width) {
    padding: 15px 0;
  }
}

.fieldset__row {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-top: 12px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    margin-right: 9px;
    margin-top: 0;
  }
}

.fieldset__row-icon {
  position: relative;
  width: 100%;
}

.fieldset__about {
  margin-top: 24px;
  padding-top: 17px;
  padding-bottom: 13px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid @line-index;
  border-bottom: 1px solid @line-index;

  @media (min-width: @tablet-width) {
    border-top: none;
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 67px;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 12px;
    padding: 0;
  }
}

.fieldset__about .fieldset__wrapper {
  @media (min-width: @tablet-width) {
    border: 1px solid @input-border;
  }
}

.fieldset__about .label {
  align-self: flex-start;
  margin-bottom: 11px;
}

.fieldset__about-content {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.fieldset__other {
  margin-top: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 39px;
    grid-row-gap: 10px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 82px;
  }
}

.fieldset__other .label {
  align-self: flex-start;
  margin-top: 12px;
  margin-bottom: 13px;
}

.fieldset__other-content {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  margin-left: 46px;

  @media (min-width: @tablet-width) {
    margin-left: 58px;
    margin-top: 8px;
  }
}

.fieldset__contacts-wrapper {
  @media (min-width: @tablet-width) {
    margin-top: 28px;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    margin-bottom: 8px;
  }
}

.fieldset__container-line {
  position: relative;

  ::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: 24px;
    right: 0;
    margin-top: calc(1em / 2 + 3px);
    background-color: @primary;
    z-index: -2;
  }
}
