.input {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid @input-border;
  color: @text;
  box-sizing: border-box;
  height: 45px;
  padding: 13px 15px 12px;
  width: 100%;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input:hover {
  border: 1px solid @line-catalog;
}

.input:focus {
  border: 2px solid @text;
}

.input:invalid {
  border: 2px solid @error;
}

.input-radio:checked ~ .label-radio::before {
  background: radial-gradient(circle closest-side, @primary 5px, #ffffff 6px);
}

.input-radio:disabled {
  opacity: 0.3;
}


.input-checkbox:checked ~ .label-checkbox::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 21px auto;
  background-clip: content-box;
}

.input-icon {
  position: absolute;
  top: 16px;
  right: 14px;
}

.input-textarea {
  @media (min-width: @tablet-width) {
    margin-top: 90px;
    margin-bottom: 90px;
    box-sizing: content-box;
  }
}
