.input {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid @input-border;
  color: @text;
  box-sizing: border-box;
  height: 45px;
  padding: 10px 13px 10px;
  width: 100%;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 18px;
    padding-top: 13px;
    padding-bottom: 11px;
  }
}

.input:hover {
  border: 1px solid @line-catalog;
}

.input:focus {
  border: 2px solid @text;
}

.input:invalid {
  border: 2px solid @error;
}

.input-radio:checked ~ .label-radio::before {
  background: radial-gradient(circle closest-side, @primary 10px, #ffffff 6px);
}

.input-radio:disabled {
  opacity: 0.3;
}


.input-checkbox:checked ~ .label-checkbox::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 21px auto;
  background-clip: content-box;
}
<<<<<<< HEAD

=======
>>>>>>> master
