.intro {
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.intro__wrapper {
  background-color: @primary;
  opacity: 0.85;
}

.intro__title {
  font-size: 36px;
}

.intro__text,
.intro__link {
  font-size: 14px;
  text-transform: uppercase;
}

.intro__link {
  color: #ffffff;
  text-decoration: none;
  background: @primary;
  padding: 7px 44px;
}
