.label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  align-self: center;
  padding-right: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
