.location {
  background: @background;

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.location__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding-right: 148px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 40px;
  }
}

.location__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @text;
  margin: 0;
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-left: 106px;
    margin-left: 0;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 16px;
    text-align: left;
    margin-left: 0;
  }
}

.location__text-city {
  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.location-index {
  background: #ffffff;
}

.location__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 28px 20px 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 63px 71px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    z-index: 1;
    background: #ffffff;
    top: 95px;
    width: 570px;
    padding: 63px 76px;
    margin-left: 110px;
  }
}

.location__wrapper--catalog {
  @media (max-width: @mobile-width-only) {
    padding-top: 13px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 75px;
  }
}

.location__map-iframe {
  width: 100%;
  height: 396px;
  border: none;
}
