.page-footer {
  background: @background;
}

.page-footer__social-list {
  list-style: none;
}

.page-footer__social-link {
  text-decoration: none;
}

.page-footer__copyright {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @text;
  text-decoration: none;
}
