.page-footer {
  background: @background;
  padding-bottom: 32px;
}

.page-footer__wrapper {
  padding-top: 38px;
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 40px;
  }
}

.page-footer__wrapper--catalog {
  @media (max-width: @mobile-width-only) {
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
  }
}

.page-footer__wrapper--form {
  @media (min-width: @desktop-width) {
    padding-top: 41px;
  }
}

.page-footer__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid @line-index;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    border: none;
    box-sizing: border-box;
  }
}

.page-footer__social-item {
  padding: 19px;
  align-self: center;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-footer__social-link {
  display: block;
  text-decoration: none;
}

.page-footer__social-link-vkontakte {
  fill: #666666;

  &:hover {
    fill: @primary;
  }

  &:active {
    fill: @primary;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
    padding-top: 19px;
    padding-left: 23px;
    padding-bottom: 6px;
  }
}

.page-footer__social-link-instagram {
  fill: #666666;

  &:hover {
    fill: @primary;
  }

  &:active {
    fill: @primary;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
    padding-top: 22px;
    padding-left: 32px;
    padding-bottom: 6px;
  }
}

.page-footer__social-link-facebook {
  width: 22px;
  height: 22px;
  fill: #666666;

  &:hover {
    fill: @primary;
  }

  &:active {
    fill: @primary;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
    padding-left: 21px;
    padding-top: 14px;
    padding-bottom: 0;
  }
}

.page-footer__logo {
  display: block;
  padding-bottom: 28px;
  text-align: center;
  border-bottom: 1px solid @line-index;

  @media (min-width: @tablet-width) {
    border: none;
    padding-bottom: 0;
    align-self: center;
    padding-top: 19px;
  }
}

.page-footer__logo img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright-link {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @text;
  text-decoration: none;
  padding-top: 29px;
  display: block;
  position: relative;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-right: 52px;
  }
}

.page-footer__copyright-icon {
  position: absolute;
  top: 17px;
  left: 246px;

  &:hover {
    fill: @primary;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    left: 130px;
    top: 12px;
  }
}
