.product-other {
  margin-top: 24px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 48px;
    padding-bottom: 0;
  }
}

.product-other__container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 1220px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.product-other__title-wrapper {
  position: relative;

  ::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    right: 0;
    margin-top: calc(1em / 2 + 3px);
    background-color: @primary;
    z-index: -2;

    @media (min-width: @tablet-width) {
      top: 0;
    }
  }
}

.product-other__title {
  box-sizing: border-box;
  width: max-content;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 36px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    padding-right: 37px;
    margin-left: 30px;
    margin-bottom: 79px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 90px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.product-other__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 896px;
  }
}

.product-other__subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @title-catalog-card;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.product-other__amount,
.product-other__price {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @text;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-other__amount {
  @media (min-width: @desktop-width) {
    align-self: left;
  }
}

.product-other__price {
  @media (min-width: @tablet-width) {
    padding-left: 49px;
  }

  @media (min-width: @desktop-width) {
    text-align: right;
  }
}

.product-other__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: @primary;
  padding: 10px 109px;
  text-decoration: none;
  display: block;

  &:hover {
    background: @primary-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    text-align: center;
    padding: 10px 150px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    box-sizing: border-box;
    padding: 10px 27px;
    width: 244px;
    align-self: center;
  }
}

.product-other__gift {
  box-sizing: border-box;
  background-image: url("../img/product-other-min.jpg");
  background-size: 280px 290px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/product-other-min@2x.jpg");
    background-size: 280px 290px;
  }

  @media (min-width: @tablet-width) {
    background-size: 100%;
    height: 201px;
    margin-bottom: 41px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/product-other-mid@2x.jpg");
      background-size: cover;
    }
  }

  ::before {
    content: "";
    background-image: url("../img/icon_gift.svg");
    width: 78px;
    height: 80px;
    position: absolute;
    top: 59px;
    left: 79px;

    @media (min-width: @desktop-width) {
      top: 21px;
      left: 83px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    height: 288px;
    background-size: 244px 288px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/product-other-max@2x.jpg");
      background-size: 244px 288px;
    }
  }
}

.product-other__gift-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 188px;
  padding-left: 70px;
  padding-right: 62px;
  padding-bottom: 55px;
  position: relative;
  margin-top: 37px;
  margin-bottom: 0;


  @media (min-width: @tablet-width) {
    text-align: left;
    width: 161px;
    padding-left: 423px;
    padding-top: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 43px;
    padding-top: 149px;
    text-align: center;
  }
}

.product-other__about {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 5px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    width: 225px;
    margin-top: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
    justify-content: space-between;
    width: 287px;
  }
}

.product-other__item-border {
  border-top: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    border-top: 1px solid #cdcdcd;
  }
}

.product-other__item {
  border-bottom: 1px solid #cdcdcd;
  padding-top: 11px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid @line-catalog;
    border-bottom: none;
    padding: 26px 37px 27px 37px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    border-bottom: 1px solid @line-catalog;
    padding: 27px 0 6px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
  }
}

.product-other__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
